
<%= render 'arrangement' %>



<h1>電池</h1>


<%= render 'tagtemplete', taglists: @tag1lists %>


<br>

<h1>半導体</h1>


<%= render 'tagtemplete', taglists: @tag2lists %>


<br>

<h1>自動運転</h1>


<%= render 'tagtemplete', taglists: @tag3lists %>


<br>

<h1>AI・人工知能</h1>


<%= render 'tagtemplete', taglists: @tag4lists %>


<br>

<h1>企業</h1>


<%= render 'tagtemplete', taglists: @tag5lists %>

<br>
<br>
